.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -380px;
  width: 360px;
  height: 100vh;
  background: #fff;
  z-index: 50;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
}

.cart-drawer.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
   font-family: "semi-bold-text";
  font-size: 0.9rem;
   color: rgb(0, 0, 0);

}

.cart-header button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.cart-header button:hover{
  background-color: #e8e6e6;
 padding: 0.3rem 0.5rem;
  border-radius: 20px;
  transition: all ease-in-out 0.16s;

}

.cart-items {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-item .title {
  font-weight: 600;
  font-size: 0.8rem;
  color: rgb(12, 12, 12);
}

.cart-item .qty {
  font-family: "regular-text";
  font-size: 0.85rem;
   color: rgb(0, 0, 0);
}

.price{
    font-family: "semi-bold-text";
  font-size: 0.9rem;
   color: rgb(0, 0, 0);

}

.cart-item .remove {
  background: none;
  border: none;
  color: red;
  font-size: 0.8rem;
  cursor: pointer;
}

.cart-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1rem;
   font-family: "semi-bold-text";
  font-size: 0.9rem;
   color: rgb(0, 0, 0);

}

.checkout-btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer;
}

.empty-cart {
  padding: 2rem;
  text-align: center;
  color: #777;
}
