.cart-drawer-conditional{
   position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   right: 15%;
  top: 22%;
  width:70%;
  height: 55%;
  background: #fff;
  /* border: 1px solid #c9c6c6; */
   border-radius: 10px;

}

.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.cart-btn{
  background-color: #000;
  color: #d5d2d2;
  font-size: 1rem;
  font-family: "regular-text";
  padding: 0.35rem 0.9rem;
  border: none;
}

.cart-drawer-conditional p{
  font-family: 'regular-text';
  font-size: 1.3rem;
  color: #525151;
  width: fit-content;
}


.cart-drawer h3{
  font-family: 'regular-text';
  font-size: 1.3rem;
  color: #525151;
  width: fit-content;
}


.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  width: 90%;
}

/* LEFT SIDE */
.bag-section {
  width: 60%;
}

.bag-section h2 {
  font-size: 1.5rem;
  font-family: "regular-text";
  font-weight: 600;
  color: #353434;
  /* margin-bottom: 20px; */
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.product-img {
  width: 140px;
  margin-right: 30px;
}

.item-details h3 {
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "regular-text";
  color: #222121;
}

.item-details p {
  margin: 5px 0;
  color: #555;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "regular-text";
}

.size {
  text-decoration: underline;
  cursor: pointer;
}

.quantity-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: fit-content;
  padding: 5px 15px;
}

.quantity-box button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
}

.quantity-box span {
  margin: 0 10px;
}

.price {
  margin-left: auto;
  font-weight: 600;
  font-size: 15px;
  font-family: "regular-text";
  color: #2a2929;
}

/* RIGHT SIDE */
.summary-section {
  width: 30%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.summary-section h2{
  font-size: 1.2rem;
  font-family: "regular-text";
  font-weight: 600;
  color: #222121;
}
.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

 .summary-section span{
  font-size: 0.9rem;
  font-family: "regular-text";
  font-weight: 600;
  color: #565353;
}


.summary-row.total span{
  font-weight: bold;
  font-size: 1rem;
  color: #282727;
}

.summary-row .free {
  color: rgb(9, 126, 9);
  font-weight: 600;
  font-family: "regular-text";
}

.checkout-btn {
  width: 100%;
  margin-top: 30px;
  padding: 12px 10px;
  background: black;
  font-family: "regular-text";
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:active {
  background-color: #525151;
  scale: 0.95;

}

/* RESPONSIVE */
@media (max-width: 900px) {
  .cart-container {
    flex-direction: column;
  }

  .bag-section,
  .summary-section {
    width: 100%;
  }

  .summary-section {
    margin-top: 40px;
  }
}
