.cart-drawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 360px;
  height: 100vh;
  background: #fff;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  
}

/* .whistlist-btn{
  background: red;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
   left: 0%;
} */

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  margin-top: 1rem;
}

.cart-item {
  display: flex;
  gap: 0.75rem;
  border-bottom: 1px solid #eee;
  padding: 0.75rem 0;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-info {
  flex: 1;
}

.cart-qty {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-qty button {
  width: 28px;
  height: 28px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.remove-btn {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.check-out-btn {
  width:80%;
  padding: 0.5rem 2rem;
  background: #000;
  font-family: 'semi-bold-text';
  color: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 1rem;
  left: 10%;
  position: absolute;
  bottom: 5%;

}

.check-out-btn:active {
  background: #333333;
  scale: 0.95;
}