.card h2{
  font-family: "bold-text";
 font-size: 1.2rem;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

label {
  font-weight: 500;
  font-size: 0.8rem;
  font-family: "regular-text";
  color: #777;
}

p {
  font-weight: 700;
  font-size: 1rem;
  font-family: "regular-text";
}
