.payment-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* LEFT */
.payment-left {
  width: 60%;
}

.back-link {
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 500;
  color: #262626;
  font-size: 0.9rem;
   padding: 0.45rem 0.8rem;
  font-family:"regular-text";
}

.back-link:hover {
  background-color: #f2f2f2;
  color: #1e1d1d;
   font-size: 0.9rem;
  width: fit-content;
  border-radius: 5px;
  padding: 0.45rem 0.8rem;
}


.back-btn{
  margin-left: 5px;
}

.payment-title {
    font-weight: 600;
  color: #000000;
  font-size: 1.1rem;
  font-family:"regular-text";
  margin-bottom: 20px;
}

.shipping-box {
  background: #eaeaea;
  padding: 20px 27px;
  margin-bottom: 30px;
}

 .shipping-box span {
  font-weight: 400;
  color: #282727;
  font-size: 0.9rem;
  font-family:Arial, Helvetica, sans-serif;
 }
 .shipping-box p {
  font-weight: 600;
  color: #070707;
  font-size: 0.9rem;
  font-family:Arial, Helvetica, sans-serif;
 }


.shipping-box h4 {
  margin-bottom: 28px;
  margin-top: -0px;
   font-weight: 600;
  color: #070707;
  font-size: 1.1rem;
  font-family:"regular-text";
}

.payment-method {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.pay-btn {
  width: 100%;
  padding: 15px;
  background: black;
  color: rgb(192, 186, 186);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  font-family: "regular-text";
}

.pay-btn:active {
  scale: 0.95;
  background-color: #282727;
}

/* RIGHT */
.payment-right {
  width: 35%;
  height: fit-content;
  background: #eaeaea;
  margin-top: 70px;
  padding: 18px 20px 22px 10px;
}

.payment-right h3 {
margin: 14px 12px;
 font-weight: 600;
  color: #282727;
  font-size: 1.1rem;
  font-family:"regular-text";

}


.summary-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px 15px;
}

.summary-item img {
  width: 70px;
  margin-right: 15px;
}

.summary-details {
  flex: 1;
}

.summary-details .product-price{
  font-weight: 600;
  color: #282727;
  font-size: 0.9rem;
  font-family:"regular-text";
}

.product-name p{
  font-weight: 600;
  color: #282727;
  font-size: 0.9rem;
  font-family:"regular-text";
}
/* .product-name span {
  font-weight: 600;
  color: #b71515;
  font-size: 0.9rem;
  font-family:"regular-text";
} */

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
 
  margin:0 15px;
 margin-top: 15px;
}

.payment-method h4 {
  margin-bottom: 20px;
   font-weight: 600;
  color: #282727;

  font-size: 1rem;
  font-family:"regular-text";
}
.payment-method p {
  margin-bottom: 20px;
   font-weight: 500;
  color: #282727;
  font-size: 0.9rem;
  font-family:"regular-text";
}

.summary-total {
  font-weight: 600;
  color: #040404;
  font-size: 0.9rem;
  font-family:"regular-text";
  margin-top: 20px;
}

.free {
  color: green;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .payment-container {
    flex-direction: column;
  }

  .payment-left,
  .payment-right {
    width: 100%;
  }

  .payment-right {
    margin-top: 40px;
  }
}
