.product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  align-items: center;
  gap:50px;
  margin : 0 0 0 1rem;
}

/* .product-container{

  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
} */
  .product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
  padding: 0 1rem;
}




.product-card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 0.6rem;
  background: #fff;
  width: 200px;

  /* z-index: 99; */
}


.product-card button {
  width: 100%;
  margin-top: 1.8rem;
}


.product-grid{
  display: flex;
  justify-content:flex-start;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  /* flex-shrink: 1; */
}


.product-img img {
  height: 150px;
  width: 185%;
  object-fit: cover;
  margin-left: -0.3rem;
  margin-top: -0.3rem;
   
}

.product-card{
  width: 250px;
     height: fit-content;
     border-radius: 5px;
     position: relative;
  /* background-color: rgb(199, 20, 20); */
}

.logo{
  position: absolute;
  width:5%;
  height: 5%;
  object-fit:contain;
  /* border: 1px solid #f10303; */
  border-radius: 50%;
  /* top: 2%; */
  mix-blend-mode: color-burn;
  left: 6%;
}

.product-card h3{
  font-size: 0.9rem;
  font-family: 'Semi-bold-text';
  font-weight: 600;
  height: 10px;
    color: rgb(33, 33, 33);
}

.product-card p{
     font-size: 0.9rem;
  font-family: 'Semi-bold-text';
  font-weight: 500;
      height: 1px;
      padding: 0 0.5em;
       color: rgb(15, 14, 14);
} 

.product-card p.price{
    font-size: 0.9rem;
  font-family: 'Semi-bold-text';
  font-weight: 900;
  padding: 0 1.1em;
  color: rgb(15, 14, 14);
}

.product-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.4rem;
  background-color: rgb(255, 255, 255);
}

.addToCart{
  display: flex;
   align-items: center;
  justify-content: center;
  color: #eee;
  font-size: 0.9rem;
  font-family: "Semi-bold-text";
  padding: 0.5rem 0;
  font-weight: 500;
  width: 70%;
  border: none;
  gap:10px;
  border-radius: 5px;
  background-color: rgb(12, 12, 12);
}

.addToCart:active{
  transition: all 0.25s ease-in-out;
  scale: 0.96;
  background-color: rgb(79, 77, 77);
  
}


.view-btn{
  margin: 3rem auto;
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-family: "Semi-bold-text";
  font-weight: 500;
  color: #eee;
  background-color: rgb(12, 12, 12);
  border: none;
  border-radius: 5px;
}

.view-btn:active{
  transition: all 0.25s ease-in-out;
  scale: 0.96;
  background-color: rgb(79, 77, 77);
  
}


@media (max-width: 768px) {

.product-grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.8rem;
    margin-left: 2.9vw;
  }
  .product-container{
 display:grid;
  grid-template-columns:repeat(2,1fr);
 
  width: 100%;
}
  .product-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  padding: 0 1rem;
}

.product-img img{
      height: 104px;
    width: 122%;
    mix-blend-mode: darken;
    margin-left: -5px;
    
}
  .product-card {
    width: 85%;
  }
  
}


@media (max-width:1024px){

  .product-grid{
    grid-template-columns:repeat(3,1fr);
  }

}

/* mobile */

@media (max-width:768px){

  .product-grid{
    grid-template-columns:repeat(2,1fr);
  }
     .product-container{
 display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
  .product-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
  padding: 0 1rem;
}

}

/* small mobile */

@media (max-width:480px){

  .product-grid{
    grid-template-columns:2fr;
  }
   .product-container{
 display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
  .product-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  align-items: center;
  justify-content: center;
  gap:5px;
  /* padding: 0 1rem; */
}
}

