.product-details-container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.image-section img {
  width: 450px;
  border-radius: 10px;
}

.info-section {
  max-width: 400px;
}

.info-section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.desc {
  color: #666;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  background: black;
  color: white;
  padding: 14px;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn:hover {
  background: #222;
}

/* Mobile */
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
  }

  .image-section img {
    width: 100%;
  }
}
