.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 2fr));
  gap: 1.5rem;
  
}

.product-card {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 1rem;
  background: #fff;

  /* z-index: 99; */
}


.product-card button {
  width: 100%;
  margin-top: 1rem;
}

/* .product-grid{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  flex-shrink: 1;
} */


.product-img img {
  height: 150px;
  width: 100%;
  object-fit: cover;
   
}

.product-card{
  width: 250px;
     height: fit-content;
     border-radius: 5px;
  /* background-color: rgb(199, 20, 20); */
}



.product-card h3{
  font-size: 1rem;
  font-family: 'Semi-bold-text';
}

.product-card p{
     font-size: 1rem;
  font-family: 'Semi-bold-text';
  font-weight: 500;
} 

.product-card p.price{
    font-size: 1rem;
  font-family: 'Semi-bold-text';
  font-weight: 600;
  color: rgb(58, 57, 57);
}

.product-details{
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.addToCart{
  color: #eee;
  font-size: 1rem;
  padding: 0.3rem 0;
  background-color: black;
}
.addToCart:active{
  scale: 0.96;
  background-color: rgb(79, 77, 77);
  
}