.register-container {
   padding: 4.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  position: relative;
}

.register-box {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    position: absolute;
    left: 14%;
    top: 6%;
   

}


.register-box p{
    color: #8f8989;
    font-size: 15px;
    font-family: 'regular-text';
    padding: 0 1rem;
    
}

.register-box h2 {
  margin-bottom: 10px;
  font-family: 'bold-text';
  font-size: 22px;
  text-align: center;
}

.register-box input {
  padding: 15px 20px;
  font-family: 'regular-text';
  margin-bottom: 12px;
  width: 85%;
  color: #494a4b;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #e0f2fe;
}
.register-box input::placeholder{
    color: #9d9fa0;
      font-family: 'regular-text';
        font-weight: 500;
}

.register-box input:focus{
    border:0.5px solid  #f7f7f750;
   
}

.register-box button {
  padding: 12px;
  background: #000000;
  color: rgb(234, 228, 228);
   font-family: 'regular-text';
   border: none;
  border-radius: 6px;
  cursor: pointer;
}

.register-box p {
  text-align: center;
   font-family: 'regular-text';
  margin-top: 10px;
}

.register-box p span{
   text-decoration: none;
   color: rgb(12, 12, 12);
}

.check-user{
    font-size: 1rem;
}



.cloud-login p{
    color: #2f2e2e;
    font-family: 'regular-text';
    font-size: 0.7rem;
    padding: 0.2rem 0;
    font-weight: 600;
    

}
.cloud-login {
    margin-top: 15px;
}

.cloud-login img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.google-login{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
}
.google-login p{
    color: #cdd4d8;
}
.apple-login p{
    color: #2f2e2e;
    font-weight: 600;
}


.apple-login{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 0.5rem;
     border: 1px solid #000000;
         border-radius: 5px;
}



@media (max-width:768px) {


    .register-box{
        width: 310px;
    }

    .register-box h2{
        font-size: 18px;
    }

   .logo img {
    height: 35px;
    width: 38px;
    object-fit: cover;
    position: absolute;
    left: 15%;
    top: 6%;
   

}


}