
.sidebar {
  width: 260px;
  background: #fff;
  padding: 1.5rem;
}

.profile-box {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-box h3{
  font-family: "semi-bold-text";
  font-size: 1rem;
  line-height:5px
 
}
.profile-box p{
  font-family: "semi-bold-text";
  font-size: 0.9rem;
  
}

.avatar {
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.7rem;
  font-size: 1.4rem;
  line-height: -4rem;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 0.75rem;
  cursor: pointer;
  font-family: "semi-bold-text";
}

.menu li:hover{
   transition:all ease-in-out  20ms;
    background: #f2f2f2;
   font-weight: 600;
  
}

.menu li.active {
  background: #f2f2f2;
  font-weight: 600;
}

.menu .logout {
  color: red;
}
.logout{
 display: flex;
  gap: 5px;
}



.menu .logout span {
  color: #000;
  font-family: "regular-text";
  font-weight: 500;
   
}


@media (max-width: 768px) {
.sidebar {
  width: 91%;
  padding: 1rem;

}

.avatar {
  width: 40px;
  height: 40px;
}
 
.profile-box h3{
  font-size: 0.8rem;
}
.profile-box p{
  font-size: 0.7rem;
}

}